.options {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.optionBtn {
  background-color: aqua;
  color: black;
}
.resetBtn {
  background-color: aquamarine;
  color: black;
  opacity: 50%;
}
